@page
@model Portal.Pages.Admin.Comment.IndexModel
@{
    ViewData["Title"] = "Admin - Comments";
}

<div class="container">
    @if (Model.Comments.Count == 0)
    {
    <h2>Comments</h2>
        <div class="row">
            
            <div class="col-6">
                <p>No comments have been made. </p>

            </div>


        </div>
    }
    else
    {
        <h2>Comments</h2>
        @foreach (var item in Model.Comments)
        {
            <div class="row">
                <div class="col-6">
                    <p>Name: @item.Name</p>
                    <p>Comment: @item.UserComment</p>

                </div>
                <div class="col-6 text-right">
                    <a asp-route-Id="@item.Id" asp-page="Delete" class="btn btn-danger">Delete</a>

                </div>

            </div>
            <hr />

        }

    }





</div>