@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container text-center">
    <h2 style="color:#EDF5E1; font-family: 'Bebas Neue', cursive;" class="display-2 text-center p-5">Welcome!</h2>

    
    <div class="col-lg-12 col-md-12 p-5">
        <img src="https://coles.kennesaw.edu/news/images/cyaar-gordon2.jpg" style="height: auto; width: 100%; max-width: 900px;">


    </div>



    <hr />

    <h4 style="color:#EDF5E1; font-family: 'Bebas Neue', cursive;" class="display-4 text-center p-5">KSU Collegiate Recovery Student Portal</h4>

    <div class="row text-center">



        <div class="col-lg-4 col-md-6 mb-4">

            <div class="card h-100">

                <img class="card-img-top" src="https://news.kennesaw.edu/stories/2017/images/2017_CYAAR_Ribbon_Cutting_LA_02%20story.jpg" alt="">

                <div class="card-body">

                    <h4 style="color: #5CDB95;font-family: 'Bebas Neue', cursive;font-family: 'Lora', serif;" class="card-title">Survey</h4>

                    <p style="color: #5CDB95;font-family: 'Bebas Neue', cursive;font-family: 'Lora', serif;" class="card-text">Come fill out a survey to help us better serve you!</p>

                </div>

                <div class="card-footer">

                    <a style="background-color:#05386B" href="#" class="btn text-white">Find Out More!</a>

                </div>

            </div>

        </div>



        <div class="col-lg-4 col-md-6 mb-4">

            <div class="card h-100">

                <img class="card-img-top" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/82979314_3507973869276274_6750728767200559104_o.jpg?_nc_cat=106&_nc_sid=8024bb&_nc_ohc=XeZD6BjrL5sAX85tCI9&_nc_ht=scontent-atl3-1.xx&oh=babc38d95c53725a65731f2ebd66b4c9&oe=5F495EFA" alt="">

                <div class="card-body">

                    <h4 style="color: #5CDB95;font-family: 'Bebas Neue', cursive;font-family: 'Lora', serif;" class="card-title">Leadership</h4>

                    <p style="color: #5CDB95;font-family: 'Bebas Neue', cursive;font-family: 'Lora', serif;" class="card-text">Come see our student leadership team for the upcoming school year!</p>

                </div>

                <div class="card-footer">

                    <a style="background-color:#05386B" href="#" class="btn text-white">Find Out More!</a>

                </div>

            </div>

        </div>



        <div class="col-lg-4 col-md-6 mb-4">

            <div class="card h-100">

                <img class="card-img-top" src="https://scontent-atl3-1.xx.fbcdn.net/v/t31.0-8/27173253_1892751404131870_3751966828459246263_o.jpg?_nc_cat=105&_nc_sid=8024bb&_nc_ohc=Xz8iPlpUAPcAX_CKer4&_nc_ht=scontent-atl3-1.xx&oh=220f92f3fe0149b356f8feb5de2f6064&oe=5F47324A" alt="">

                <div class="card-body">

                    <h4 style="color: #5CDB95;font-family: 'Bebas Neue', cursive;font-family: 'Lora', serif;" class="card-title">Meet A Member</h4>

                    <p style="color: #5CDB95;font-family: 'Bebas Neue', cursive;font-family: 'Lora', serif;" class="card-text">Come learn more about another member of our student community!</p>

                </div>

                <div class="card-footer">

                    <a style="background-color:#05386B" href="#" class="btn text-white">Find Out More!</a>

                </div>

            </div>

        </div>



        <div class="col-lg-4 col-md-6 mb-4">

            <div class="card h-100">

                <img class="card-img-top" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/69909412_3067635713310094_5253577560943493120_o.jpg?_nc_cat=105&_nc_sid=8024bb&_nc_ohc=4dpRQHtmPV8AX9FzkxG&_nc_ht=scontent-atl3-1.xx&oh=9bddb2e30ae56882fefb2d211977334d&oe=5F5675FC" alt="">

                <div class="card-body">

                    <h4 style="color: #5CDB95;font-family: 'Bebas Neue', cursive;font-family: 'Lora', serif;" class="card-title">Meetings</h4>

                    <p style="color: #5CDB95;font-family: 'Bebas Neue', cursive;font-family: 'Lora', serif;" class="card-text">Come see which meetings we have availble in the community!</p>

                </div>

                <div class="card-footer">

                    <a style="background-color:#05386B" href="#" class="btn text-white">Find Out More!</a>

                </div>

            </div>

        </div>

        <div class="col-lg-4 col-md-6 mb-4">

            <div class="card h-100">

                <img class="card-img-top" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/p960x960/67774190_3000973566642976_5230402686213423104_o.jpg?_nc_cat=111&_nc_sid=dd9801&_nc_ohc=w14RxUj5-eMAX_UFb_k&_nc_ht=scontent-atl3-1.xx&_nc_tp=6&oh=fb8c959d683dbb3094c3199dfdc482a2&oe=5F59D3FC" alt="">

                <div class="card-body">

                    <h4 style="color: #5CDB95;font-family: 'Bebas Neue', cursive;font-family: 'Lora', serif;" class="card-title">Volunteer</h4>

                    <p style="color: #5CDB95;font-family: 'Bebas Neue', cursive;font-family: 'Lora', serif;" class="card-text">Come see volunteer oppurtunities in the community!</p>

                </div>

                <div class="card-footer">

                    <a style="background-color:#05386B" href="#" class="btn text-white">Find Out More!</a>

                </div>

            </div>

        </div>
        <div class="col-lg-4 col-md-6 mb-4">

            <div class="card h-100">

                <img class="card-img-top" src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/p960x960/92131195_3743563195717339_141168625762435072_o.png?_nc_cat=102&_nc_sid=8024bb&_nc_ohc=dqyerZM7td8AX-vuOJe&_nc_ht=scontent-atl3-1.xx&oh=be3e8b2d5637d79dfd35bb1f1102468a&oe=5F57C32F" alt="">

                <div class="card-body">

                    <h4 style="color: #5CDB95;font-family: 'Bebas Neue', cursive;font-family: 'Lora', serif;" class="card-title">Newsletter</h4>

                    <p style="color: #5CDB95;font-family: 'Bebas Neue', cursive;font-family: 'Lora', serif;" class="card-text">Come check out the latest issue of the newsletter!</p>

                </div>

                <div class="card-footer">

                    @if (Model.Newsletter != null)
                    {
                        <a style="background-color:#05386B" href="@Model.Newsletter.Url" target="_blank" class="btn text-white">Find Out More!</a>

                    }
                    else
                    {
                        <a style="background-color:#05386B" class="btn text-white">Find Out More!</a>
                    }

                </div>

            </div>

        </div>



    </div>
</div>
