@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="p-5">

</div>

<form method="post">

    <div style="border: 1px solid;border-color: #5CDB95" class="container p-5">
        <h2 style="color: #5CDB95;font-family: 'Bebas Neue', cursive;" class="display-4">Login</h2><hr>
        <label style="color: #5CDB95">Email:</label>
        <input class="form-control" asp-for="Input.Email" />
        
        <br>
        <label style="color: #5CDB95">Password:</label>
        <input class="form-control" asp-for="Input.Password" />
       
        <br>


       
        @Html.ValidationSummary(string.Empty, new { @class = "text-danger" })

        <br />

        <input style="background-color: #05386B;color: #EDF5E1" class="btn" type="submit" value="Login">


    </div>


</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
