@page
@model Portal.Pages.MeetAMember.IndexModel
@{
    ViewData["Title"] = "Meet A Member";
}






    <div class="container">

        <div class="row">


            <div class="offset-1 col-lg-10">

                <h4 style="color:#EDF5E1; font-family: 'Bebas Neue', cursive;" class="display-4 text-center p-5">Meet A Member</h4>
                <p style="color: #EDF5E1;font-family: 'Lora', serif;" class="lead">
                    <strong>by Author's name</strong>

                </p>
                <hr>
                <div class="row text-center">
                    <div class="col-lg-12 col-md-12 p-5">
                        <img src="https://images.pexels.com/photos/414102/pexels-photo-414102.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" style="height: auto; width: 100%; max-width: 900px;">

                    </div>


                </div>
                <hr>
                <p style="color: #5CDB95;font-family: 'Lora', serif;">paragraph 1</p>
                <p style="color: #5CDB95;font-family: 'Lora', serif;">paragraph 2</p>
                <p style="color: #5CDB95;font-family: 'Lora', serif;">paragraph 3</p>
                <p style="color: #5CDB95;font-family: 'Lora', serif;">paragraph 4</p>
                <p style="color: #5CDB95;font-family: 'Lora', serif;">paragraph 5</p>
                <p style="color: #5CDB95;font-family: 'Lora', serif;">paragraph 6</p>
                <p style="color: #5CDB95;font-family: 'Lora', serif;">paragraph 7</p>
                <p style="color: #5CDB95;font-family: 'Lora', serif;">paragraph 8</p>
                <p style="color: #5CDB95;font-family: 'Lora', serif;">paragraph 9</p>
                <p style="color: #5CDB95;font-family: 'Lora', serif;">paragraph 10</p>


                <hr>


                <div class="card my-4">
                    <h5 style="color: #05386B;font-family: 'Lora', serif;" class="card-header">Comments:</h5>
                    <div class="card-body">

                        <div class="media mb-4">
                            <img style="width:50px; height:auto" class="d-flex mr-3 rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQrfpp0F3lqkdmCB-NR498Tl0V5XyrQ5KjK-g&amp;usqp=CAU" alt="comment-icon">
                            <div style="color: #05386B;font-family: 'Lora', serif;" class="media-body">
                                <h5 style="color: #05386B;font-family: 'Lora', serif;" class="mt-0">Alex Wood</h5>
                                Wow that's awesome!
                            </div>
                        </div>

                        <a style="background-color: #05386B;color: #EDF5E1;font-family: 'Lora', serif;" class="btn" href="/MeetAMember/CreateComment">Leave a Comment</a>


                    </div>
                </div>







            </div>



        </div>


    </div>




