@page
@model Portal.Pages.Admin.Users.DeleteModel
@{
    ViewData["Title"] = "Admin - Users";
}


<div class="container">
    <p>User was successfully deleted.</p><br />
    <a asp-page="Index" class="btn btn-primary">Back to List</a>

</div>
